@import 'reset';



.header__container {
    background-image: url(./Rectangle\ .jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

    .navigation__container {
        padding: 34px 148px 0px 142px;
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;

        .navigation__link {
            display: flex;
            gap: 30px;

            .navigation__href {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        .navigation__select {
            display: flex;
            gap: 30px;
            

            .navigation__select-container {
                position: relative;
                display: inline-block;

                &::after {
                    content: '';
                    position: absolute;
                    top: 37%;
                    right: 17px;
                    display: block;

                    pointer-events: none;

                    /*рисуем треугольник*/
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 11px 6px 0 6px;
                    border-color: rgb(235, 231, 231) transparent transparent transparent;
                }

            }
            
            .navigation__options {
                padding: 10px 40px 10px 10px;
                background: transparent;
                appearance: none;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                box-sizing: border-box;
                border: 1px solid #FFFFFF;
                border-radius: 5px;
                outline: 0;
                
            }

            .navigation__option {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #000000;
                padding: 50px 100px;
            }
        }

    }

    .header__sum {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        padding: 74px 0px 5px 140px;
        margin: 0;
    }

    .header__platform {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin: 0;
        padding: 0px 0px 40px 142px;
    }


    .header__container-button {
        display: flex;
        gap: 23px;
        padding: 0px 0px 78px 140px;

        .header__button {
            background: #03BAFE;
            border-radius: 5px;
            border-color: transparent;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            outline: 0;
            padding: 11px 25px;
            cursor: pointer;
        }

        .header__watchVideo {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            padding: 13px 15px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    

}

.main__container {
    padding: 52px 140px 22px 140px;
    

   .main__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;

        .main__text {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: #000000;
            margin: 0;
        }

        .main__button-leads {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.2px;
            border-radius: 5px;
            color: #03BAFE;
            background: transparent;
            border: 1px solid #03BAFE;
            padding: 11px 25px;
            cursor: pointer;
        }
   }


    .main__container-cards {
        display: flex;
        gap: 40px;
        padding-bottom: 60px;

        .main__container-card {

            .main__cart {

                display: flex;
                flex-direction: column;

                .main__img {
                    width: 360px;
                    height: 228px;
                }

                .main__container-text {

                    background: #FFFFFF;
                    border-radius: 0px 0px 20px 20px;
                    padding: 20px;
                    filter: drop-shadow(0px 24px 32px rgba(50, 50, 71, 0.05));
                    width: 360px;
                    box-sizing: border-box;
                    
                    .main__cart_text-parent {
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                        margin: 0;
                        padding-bottom: 10px;
                    }
        
                    .main__cart-text {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                        margin: 0;
                        padding-bottom: 20px;

                    }  
                    
                    .padding {
                        padding-bottom: 44px;
                    }
        
                    .color {
                        color: #999999;
                        padding-bottom: 10px;
                    }
        
                    .main__container-progressbar {
                        background: rgba(3, 186, 254, 0.2);
                        border-radius: 10px;
                        width: 320px;
                        height: 5px;
                        margin-bottom:10px;
                
                        .main__progressbar {
                            background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;
                            border-radius: 10px;
                            width: 310px;
                            height: 5px;

                        }

                        .width-cart2 {
                            width: 281px;
                        }


                        .width-cart3 {
                            width: 201px;
                        }
                    }   
        
                    .main__amount {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                        margin: 0;
        
                        .main__color{
                            color: #999999;
                        }
                    }
                }

            }

            
        }

    }

    .main__website {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin: 0;
        text-align: center;
        background: rgba(235, 250, 255, 0.7);
        border-radius: 20px;
        padding: 45px 49px;
        color: #0068FF;
        margin-bottom: 60px;
    }

    .main__text-dream {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #000000;
    }

   


   .main__cart-group {
        display: flex;
        gap: 62px;

        .main__img {
            width: 700px;
            height: 562px;
            margin-top: 147px;
        }
    
        .main__cart-information {
            display: flex;
            gap: 19px;
            flex-direction: column;
            margin-top: 95px;
            margin-bottom: 117px;

                
            .main__cart-dream {
                display: flex;
                flex-direction: column;
                border: 1px solid rgba(3, 186, 254, 0.15);
                border-radius: 20px;
                padding: 30px;
        
                .main__cart-sum {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    color: #000000;
                    margin: 0;
                    margin-bottom: 15px;
                }
        
                .color_text {
                    color: #03BAFE;
        
                }
        
                .main__cart-statistics{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    color: #999999;
                    margin: 0;
                }
            }

        
            .main__cart-points {

                background: #EBFAFF;
                border-radius: 20px;
                padding: 20px 20px 12px 20px;
                align-items: center;

                .main__cart-job {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    color: #000000;
                    margin: 0;
                    margin-bottom: 10px;
                }
            
                .main__cart-onePoints {
                    display: flex;
                    gap: 15px;
                    margin-bottom: 11px;

                    &.margin {
                        margin-bottom: 24px;
                    }
            
                    .main__cart-textPoints {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.1px;
                        color: #000000;
                        margin: 0;
                    
                    }

                }

                .main__cart-btn {
                    display: flex;
                    gap: 11px;

                    .main__cart-btnMony {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: #000000;
                        background: #FFA200;
                        border-radius: 5px;
                        padding: 10px 20px;
                        border-color: transparent;
                    }


                    .main__cart-btnInform {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: #FFFFFF;
                        background: #03BAFE;
                        border-radius: 5px;
                        padding: 10px 20px;
                        border-color: transparent;

                    }
                }

            }



        }


    }

    .centering {
        text-align: left;
        margin: 0;
        margin-bottom: 60px;
    }

    .main__user-container {

        display: flex;
        gap: 40px;
        position: relative;
        margin-bottom: 60px;

        .main__arrow {
            position: absolute;
            left: -25px;
            top: 140px

        }

        .main__user {
            background: #FFFFFF;
            box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.05);
            border-radius: 20px;
            padding: 29px 30px 34px 30px;
                    
            .main__user-review {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.1px;
                color: #000000;
                margin: 0;
                margin-bottom: 16px;
           } 
    
            .main__user-text {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #000000;
                margin: 0;
                margin-bottom: 19px;

                &.margin {
                    margin-bottom: 39px;
                }
           }
    
            .main__container-user {
                display: flex;
                gap: 22px;
                align-items: center;
    
                .margin {
                    margin-bottom: 0;
                }
           }

        }

        .main__arrow1 {
            position: absolute;
            right: 16px;
            top: 138px
        }

    }

    .main__container-circle {

        display: flex;
        gap: 9px;
        margin-bottom: 60px;
        .main__circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;
    
            &.color {
                background: rgba(228, 228, 228, 0.5);
            }
        }
    }

   

    .main__container-video {
        display: flex;
        gap: 18px;
        position: relative;
        margin-bottom: 108px;

        .main__video {
            min-width: 250px;


            .video {
                position: absolute;
    
            }
            
            .main__videoIcon {
                position: relative;
                top: 173px;
                right: -88px
            }
        
            .main__video-text {
                position: relative;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
                margin: 0;
                padding: 0 15px 10px 15px;
                padding-top: 280px;

                &.padding {
                    padding-top: 353px;
                }
        
            }
        }

        .main__arrow2 {
            position: absolute;
            right: 3px;
            top: 179px
        }

    }

    & .padding {
        margin-bottom: 27px;
    }


    .main__text-opportunity {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #000000;
        margin: 0;
        margin-bottom: 50px;
    }
    


    .main__container-cartOpportunity {

        display: flex;
        gap: 40px;
        margin-bottom: 60px;

        .main__cart-opportunity {

            background: rgba(235, 250, 255, 0.7);
            border-radius: 20px;
            padding: 40px 30px;
    
            .main__cart-photo {
                margin-bottom: 40px;
            }
    
            .main__text-free {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #000000;
                margin: 0;
                margin-bottom: 20px;
            }
    
            .main__text-annotation {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #000000;
                margin: 0;
            }
    
    
        }

    }

    .main__container-form {
        background: #EBFAFF;
        //opacity: 0.7;
        border-radius: 20px;
        padding: 60px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 60px;


        .padding {
            margin-bottom: 52px;
        }

        .main__form1 {

            //max-width: 560px;

            .main__container-formInput {
                
                display: flex;
                flex-direction: row;
                min-width: 560px;
                z-index: 1;
                gap: 40px;
                position: relative;

                .main__form {

                    max-width: 560px;

                    .main__container-photo {
                        background: #F9F9F9;
                        border-radius: 20px 20px 0px 0px;
                        padding: 85px 83px;
                        text-align: center;
                    }
            
                    .main__img {
                        margin-bottom: 30px;
                    }
            
            
                    .main__text-photo {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #737373;
                        margin: 0;
                    }
    
    
                    .main__container-input {
                        display: flex;
                        flex-direction: column;
                        background: #FFFFFF;
                        border-radius: 0px 0px 20px 20px;
                        padding: 20px 20px 32px 20px;
                
                        .main__input {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #737373;
                            background: #F9F9F9;
                            border: 1px solid #E9E9E9;
                            border-radius: 5px;
                            padding: 10px 0 10px 10px;
                            margin-bottom: 20px;
                
                
                            &.textarea {
                                //padding: 10px 0 46px 10px;
                                padding: 10px 0 0px 10px;
                            }
                        }
                
                
                        .main__text-input {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                            margin: 0;
                            margin-bottom: 10px;
                
                        }
    
                        .main__container-inputBtn {
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                        }
    
    
                        .main__inputBtn {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                            background: #FFA200;
                            border-radius: 5px;
                            padding: 10px 20px;
                            border-color: transparent;
                            display: flex;
                            justify-content: center;
                            min-width: 140px;
                        }
                
                    }
    

                }

                
                .main__container-collected {

                    display: flex;
                    justify-content: flex-end;
                    align-items: end;

                    
                    .main__container-formSum {
        
                        width: 440px;
                        display: flex;
                        flex-direction: column;
            
                        .main__form-text {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #999999;
                            margin: 0;
                            margin-bottom: 10px;
                
                        }
                
                        .main__form-progressbar {
                            background: rgba(3, 186, 254, 0.2);
                            border-radius: 10px;
                            max-width: 440px;
                            height: 5px;
                            margin-bottom: 10px;
                        }
                
                        .main__formSum-text {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #000000;
                            margin: 0;
                
                            .color {
                                color: #999999;
                            }
                        }
            
                    }
        
                }
                


            }
            .main__photo-group {
                top: 112px;
                max-width: 622px;
                height: 586px;
                position: absolute;
                left: 469px;
            }
        }


    }


    .margin {
        margin-bottom: 47px;
    }


    .main__accordion-item {


        .main__accordion-label {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.2px;
            color: #000000;
            display: block;
            cursor: pointer;
            position: relative;
            margin-bottom: 20px;

            &::before {
                content: url(./tringle.svg);
                display: block;
                position: absolute;
                right: 3px;

            }

            &.margin {
                margin-bottom: 128px;
            }
        }

        .main__accordion-input {
            appearance: none;
            position: absolute;
            width: 0;
            height: 0;

        }

        .main__accordion-input:checked + .main__accordion-text {
            display: block;
        } 



        .main__accordion-text {
            display: block;
            margin-bottom: 40px;

            &.none {
                display: none;
            }

            .main__accordText {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #000000;
                margin: 0;

            }
        }

        

    }


}


.footer__text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;

}

.footer__conteiner-link {

    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 70px;

}

.footer__link {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    //text-decoration-line: underline;
    color: #03BAFE;

    &.link {
        text-decoration: none;
    }

}


.footer__linkIcons {
    display: flex;
    gap: 474px;
    margin-bottom: 54px;

    .footer__cont-link {
        display: flex;
        gap: 40px;
    }
    
    
    .footer__icons {
        display: flex;
        gap: 10px;
    }
}

.footer__textYear {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #666666;
    margin: 0;
}

